# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:40088"
endpoint_add_udp "0.0.0.0:40088"

# Disable Couchdb from essentialmode
set es_enableCustomData 1

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

### Default FiveM scripts ###
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
restart sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
#ensure scoreboard

### MySQL ###
start mysql-async

### Essentials scripts ###
start essentialmode
start es_ui
start esplugin_mysql
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start es_admin2
start instance
start ft_libs

### Connection Queue ####
start connectqueue
set sv_debugqueue true # prints debug messages to console
set false # shows queue count in the server name '[count] server name'

### Loading screen ###
start synn-loadscreen

### Plugins ###
start krz_personalmenu
start esx_addons_gcphone
start gcphone

### ESX ###
start esx_addonaccount
start esx_addoninventory
start esx_datastore
start esx_billing
start cron
start esx_society
start skinchanger
start esx_skin
start esx_accessories
start esx_eden_clotheshop
start esx_license
start jsfour-idcard
start esx_status
start esx_basicneeds
start esx_optionalneeds
start esx_custostatus
start esx_supermarket
start esx_service
start esx_identity
start esx_doorlock
start esx_rpchat
start esx_sit
start esx_teleportpads
start esx_property
start esx_advancedgarage
start esx_realweapons
start esx_weapon-pull-out
start esx_copweapon
start esx_cinema
start esx_binoculars
start esx_qalle-jail
start es_wsync
start esx_lscustom
start esx_vangelico_robbery
start esx_dmvschool
start esx_barbershop
start esx_tattooshop
start esx_weaponshop
start esx_clip
start esx_drugs
start esx_blanchisseur
start esx_jb_advanced_truck_inventory
start esx_easy_weapon_accessories

### Jobs ###
start esx_joblisting
start esx_vehicleshop
start esx_policejob
start esx_poolcleaner
start esx_gardener
start esx_garbage
start esx_blarglebus
start esx_truckerjob
start esx_ambulancejob
start esx_taxijob
start esx_mechanicjob

### Gangs ###
start esx_familiesjob
start esx_ballasjob
start esx_mafiajob
start esx_vagosjob
start esx_vigneronjob

### Other scripts ###
start speedometer
start discord_richpresence
start 3dme
start InteractSoundS
start seatbelt
start LegacyFuel
start cv_control
start randomScripts
start skm_carkeys
start eden_jail
start qalle-wheelchair
start lux_vehcontrol
start NoReticle
start blackbars
start faint_script
start pauseMap
start pausemenu
start CarryPeople
start heli
start WeazelNewsCam
start TakeHostage
start new_banking
start esx_borrmaskin
start esx_holdupbank
start loffe_robbery
start whistle
start kors
start eden_animal
start clearAreas

### Moderation ###
start esx_announce
start esx_spectate
start afkkick
start pingkick
start FiveM-BanSql
start esx_discord_bot
start auto_reboot_message

### Scoreboard & Uptime ###
start uptime
add_ace resource.uptime command.sets allow
start esx_scoreboard

### VEHICLES ###
start dodgeems
start pol718
start expl
start 2015polstang

### IPL ###
start bob74_ipl
start load_bob74

### Maps ###
start nw_bahamaMama
start comico
start parkingCentral
start bennys
start prison-map-addon
start extended_missionRow
start saForest
start betterGangs

### Loading screen ###
start synn-loadscreen

# Configuration Server
set mysql_connection_string "server=127.0.0.1;database=essentialmode2;userid=root;password=90ob@%Jxh#59&rG"

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "rp, roleplay, qc, be, fr, french, francais, france, serious, freeaccess, free-access, fa, doublejobs, drogues, cartesim, gang, gangs, prison, police, cars, ems, jobs, drugs, serious default, esx, synergie"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fr-FR"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "^1[^0FR^1] 🌴 ^0Synergie ^1Roleplay ^9 🌴 | 🗽 ^1Free-Access ^9| 🚨 ^8Serious RP ^9| 🛠️ ^8Double Job ^9| 👨‍💻 ^3Staff Actif ^9| 🎙️ ^3discord.gg/^9SqAE8Jg"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "Synergie Roleplay"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled false

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "7A8D6093FF47A4BA6F2EBB1D1769D022"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey fduffzdf1u8t0arqjjcmxnz58zpilr13
